<div class="pt-16">
    <h3 class="font-sub-mono text-lg"><a href="<!-- MARKDOWN FILE -->"><u>Download raw?</u></a></h3>
    <h2 class="font-display font-bold text-4xl md:text-6xl"><a href="<!-- HTML FILE -->">Catnet RFC <!-- RFC --></a></h2>
    <h3 class="font-display text-3xl md:text-5xl pt-2"><a href="<!-- HTML FILE -->"><u><!-- TITLE --></u></a></h2>
</div>

